@keyframes changeBackgroundColor {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
}

.buttons {
  align-self: center;
  margin: 20px;
}

.buttons button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(40, 40, 40);
  color: white;
}

.jokeContainer {
  align-self: center;
  width: 600px;
  text-align: center;
  font-size: 30px;
  animation: changeBackgroundColor infinite 10s linear;
}